#avisList{

    padding-top: 2%;
    padding-bottom: 5%;
    
}
#tableAvis{
    width: 100%;
    background-color: white;
    border-bottom: green solid;
    border-top: green solid;
    padding-bottom: 1%;
    
}