<p>animals-detail works!</p>

<div *ngIf="animal" class="row">
    <div class="col s12 m8 offset-m2">
    <h2 class="header center">{{ animal.name }}</h2>
    <div class="card horizontal hoverable">
      <div class="card-image">
        <img [src]="animal.picture">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered striped">
            <tbody>
              <tr>
                <td>Prénom</td>
                <td><strong>{{ animal.name }}</strong></td>
              </tr>

              <tr>
                <td>Etat</td>
                <td><strong>{{ animal.etat }}</strong></td>
              </tr>
              <tr>
                <td>Date d'arrivée</td>
                <td><em>{{ animal.created | date:'dd/MM/yyyy' }}</em></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>
</div>
<router-outlet></router-outlet>