<div>
    <h1>Les Habitats...</h1>
</div>

<div id="habitats">
    <tr >
    <td [width]="350">
        <tr>
            <img src="assets/images/habitats/habitat_lion.jpg" width="300"><br>
        </tr>
        <tr>
            Ancre des lions
        </tr>
    </td>

    <td [width]="350">
        <tr>
            <img src="assets/images/habitats/habitat_elephant.jpeg" width="300"><br>
        </tr>
        <tr>
            Ancre des elephants
        </tr>   
    </td>

    <td [width]="350">
        <tr>
            <img src="assets/images/habitats/habitat_elephant.jpeg" width="300"><br>
        </tr>
        <tr>
            Ancre des elephants
        </tr>   
    </td>

    <td [width]="350">
        <tr>
            <img src="assets/images/habitats/habitat_elephant.jpeg" width="300"><br>
        </tr>
        <tr>
            Ancre des elephants
        </tr>   
    </td>
</tr>
</div>