<div>
    <h1>Les Services proposés...</h1>
</div>


<div id="services">
    <tr>
        <td>
            <div id="restaurationService">
                <h2> RESTAURATION AU PARC
                    SNACK PRÈS DE LA BOUTIQUE</h2>
                <p>
                    Ouvert tous les jours du 14 février au 3 novembre 2024. Vente de produits salés jusqu'à 15h00.
                    Nous vous proposons des steaks-frites, hot-dog, salades, glaces... que vous pouvez déguster au
                    sein du parc, sur notre terrasse face au massif du Pilat. Moyens de règlement acceptés :
                    espèces, cartes bancaires, chèque. Nous ne prenons pas les Tickets Restaurants ni les Chèques
                    Vacances. </p>
            </div>
        <td>
            <div>
                <img src="assets/images/services/restauration.jpg" width="300"><br>
            </div>
        </td>
    </tr>


    <tr>
        <td>
            <div>
                <h2> VISITE DU PARC EN PETIT TRAIN</h2>
                <p>
                    Prestation ouverte tout les jours non stop !.
                    Vente de billet à la boutique.
                </p>
            </div>
        </td>

        <td>
            <div>
                <img src="assets/images/services/petit_train.jpeg" width="300"><br>
            </div>
        </td>
    </tr>
</div>

