#accueil-page{
    background-color: white;
    
}
#presentation{
    align-content: center;
    padding-left: 15%;
    padding-right: 15%;
}
#imagesAccueil{
    padding-left: 30%;
    

}
#service{
    background-color: white;
    padding-left: 15%;
    padding-right: 15%;
}